ลงlibraryที่ใช้ในการดึงข้อมูล✅

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as data
plt.style.use("fivethirtyeight")

โหลดข้อมูลdataframe จาก yahoo✅

In [8]:
import yfinance as yf
import datetime as dt
stock = "POWERGRID.NS"
start = dt.datetime(2000,1,1) 
end = dt.datetime(2025,2,10)  
df = yf.download(stock,start,end)

[*********************100%***********************]  1 of 1 completed

In [ ]:
df.head()

Price             Close         High          Low         Open       Volume
Ticker     POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS
Date
2007-10-05    32.385578    35.250705    26.768000    28.908797    855215656
2007-10-08    30.727669    33.480121    30.534513    33.480121    126671715
2007-10-09    32.820175    33.109906    29.085854    30.743763    116725709
2007-10-10    33.126003    33.802045    32.836272    33.673274     67931378
2007-10-11    36.828129    38.630905    32.836270    38.630905    106320954

In [11]:
df.shape

(4277, 5)

In [13]:
df.info

<bound method DataFrame.info of Price             Close         High          Low         Open       Volume
Ticker     POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS
Date
2007-10-05    32.385578    35.250705    26.768000    28.908797    855215656
2007-10-08    30.727669    33.480121    30.534513    33.480121    126671715
2007-10-09    32.820175    33.109906    29.085854    30.743763    116725709
2007-10-10    33.126003    33.802045    32.836272    33.673274     67931378
2007-10-11    36.828129    38.630905    32.836270    38.630905    106320954
...                 ...          ...          ...          ...          ...
2025-02-03   280.519348   288.624571   274.786406   286.647690     14978897
2025-02-04   282.347961   283.089292   268.954608   277.751720     19836427
2025-02-05   281.903198   287.389030   281.260688   282.298568     15337191
2025-02-06   277.899994   287.586727   276.516183   284.176596     21418561
2025-02-07   278.149994   281.899994   270.000000   273.100006     17193482

[4277 rows x 5 columns]>