ลงlibraryที่ใช้ในการดึงข้อมูล✅

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as data
plt.style.use("fivethirtyeight")

โหลดข้อมูลdataframe จาก yahoo✅

In [8]:
import yfinance as yf
import datetime as dt
stock = "POWERGRID.NS"
start = dt.datetime(2000,1,1) 
end = dt.datetime(2025,2,10)  
df = yf.download(stock,start,end)

[*********************100%***********************]  1 of 1 completed

In [ ]:
df.head()

Price             Close         High          Low         Open       Volume
Ticker     POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS
Date
2007-10-05    32.385578    35.250705    26.768000    28.908797    855215656
2007-10-08    30.727669    33.480121    30.534513    33.480121    126671715
2007-10-09    32.820175    33.109906    29.085854    30.743763    116725709
2007-10-10    33.126003    33.802045    32.836272    33.673274     67931378
2007-10-11    36.828129    38.630905    32.836270    38.630905    106320954

In [11]:
df.shape

(4277, 5)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4277 entries, 2007-10-05 to 2025-02-07
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Close, POWERGRID.NS)   4277 non-null   float64
 1   (High, POWERGRID.NS)    4277 non-null   float64
 2   (Low, POWERGRID.NS)     4277 non-null   float64
 3   (Open, POWERGRID.NS)    4277 non-null   float64
 4   (Volume, POWERGRID.NS)  4277 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 200.5 KB

In [15]:
df.isnull().sum()

Price   Ticker
Close   POWERGRID.NS    0
High    POWERGRID.NS    0
Low     POWERGRID.NS    0
Open    POWERGRID.NS    0
Volume  POWERGRID.NS    0
dtype: int64

In [16]:
df.describe()

Price         Close         High          Low         Open        Volume
Ticker POWERGRID.NS POWERGRID.NS POWERGRID.NS POWERGRID.NS  POWERGRID.NS
count   4277.000000  4277.000000  4277.000000  4277.000000  4.277000e+03
mean      82.943864    84.024654    81.881899    82.986760  1.190105e+07
std       69.398443    70.230018    68.541233    69.400090  2.046653e+07
min       18.908405    20.212433    16.952364    20.114630  0.000000e+00
25%       36.448631    36.991328    35.905463    36.505618  4.842258e+06
50%       57.535770    58.042000    56.727841    57.293562  8.412588e+06
75%       84.107292    85.139161    83.045012    84.263858  1.370196e+07
max      356.113861   356.893408   348.074624   354.749603  8.552157e+08